 <h1>Marvel Superhero Search engine</h1>
<!-- 
 <form action="/marvel" method="get">
  <label>Search: <input name="search"></label>
  <button>Submit</button>
 </form> -->


 <form action="/marvel" method="get">
  <label><input name="search"></label>
  <button>Submit</button>
 </form>


 <ul>
  <% if @results.present? %>
  	<% @results.each do |result| %>
    	<li><%= result['name'] %></li>
  	<% end %>
  <% else %>
  	<p>"There are no superheroes with that name"</p>
  <% end %>

 </ul>