 <h1>Marvel Superhero Search engine</h1>

 <form action="/marvel" method="get">
  <label>Search: <input name="search"></label>
  <button>Submit</button>
 </form>


 <div class="preview" id="preview">
<% if @result %>
  <% if @result.present? %>
 <ul>
  <% @results.each do |result| %>
    <li><a href="/marvel/<%= result['marvel_id'] %>"><%= result['name'] %></a></li>
  <% end %>
 </ul>
 <% else %>
    <p>Whoops, we couldn't find that one.</p>
  <% end %>
  <% end %> 
</div>

