 <h1>Marvel Superhero Search engine</h1>
<!-- 
 <form action="/marvel" method="get">
  <label>Search: <input name="search"></label>
  <button>Submit</button>
 </form> -->


 <form action="/marvel" method="get">
  <label><input name="search"></label>
  <button>Submit</button>
 </form>


 <div class="preview" id="preview">
<% if @result %>
  <% if @result.present? %>
 <ul>
  <% if @results.present? %>
  	<% @results.each do |result| %>
    	<li><%= result['name'] %></li>
  	<% end %>
  <% else %>
  	<p>"There are no superheroes with that name"</p>
  <% end %>
<<<<<<< HEAD
 </ul>
 <% else %>
    <p>Whoops, we couldn't find that one.</p>
  <% end %>
  <% end %> 
</div>

=======

 </ul>
>>>>>>> abda40c70c328a1aad316779c16b8e90fca35a49
