 <h1>Marvel Superhero Search engine</h1>
<!-- 
 <form action="/marvel" method="get">
  <label>Search: <input name="search"></label>
  <button>Submit</button>
 </form> -->


 <form action="/marvel" method="get">
  <label><input name="search"></label>
  <button>Submit</button>
 </form>


 <div class="preview" id="preview">
<% if @result %>
  <% if @result.present? %>
 <ul>
  <% if @results.present? %>
  	<% @results.each do |result| %>
    	<li><%= link_to result['name'], marvel_path(result['id']) %></li>
    	
  	<% end %>
  <% else %>
  	<p>"There are no superheroes with that name"</p>
<<<<<<< HEAD
<% end %> 
=======
  <% end %>



</ul>
>>>>>>> 6696dd2f3e0231a91eb74755c4827e9331f535ec
